.parrafo{
    width: 200px;
    height: auto;
    padding-bottom: 20px;
    border-bottom: solid 3px black;
}
.parrafo_uno{
background-color: #E7B10A;
}
.parrafo_dos{
background-color: #898121;
}
.parrafo_tres{
background-color: #4C4B16;
}
.tituloCancion{
background-color: #F7F1E5;
}
.Titulo{
    background-color: aquamarine;
}
.poema{
    width: 1000px;
  height: auto;
    display: flex;
    justify-content: center;
  align-items: center;
}